<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace = mapper对应接口的全限定符-->
<mapper namespace="xxx.jjj">
    <!--    ibatis方式进行数据库操作-->
    <select id="xxx" resultType="com.itguigu.pojo.Student">
        select * from student where sid = #{id}
    </select>
</mapper>
